{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
  {% if validlink %}
    <p>{% trans "確認のために、新しいパスワードを二回入力してください。" %}</p>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="my-3">
          <p class="my-0">{{ field.label }}{% trans "(必須)" %}</p>
          {% for error in field.errors %}
            <p class="text-danger">{{ error|escape }}</p>
          {% endfor %}
          {{ field }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <div class="my-2">
        <button class="btn btn-primary" type="submit">{% trans "保存" %}</button>
      </div>
    </form>
  {% else %}
    <p>{% trans "パスワードリセットのリンクが不正です。おそらくこのリンクは既に使われています。もう一度パスワードリセットしてください。" %}</p>
  {% endif %}
{% endblock %}
