{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
  <p>{% trans "パスワードを忘れましたか？ 以下にのフォームにメールアドレスを入力すると、新しいパスワードの設定方法をお知らせします。" %}</p>

  <form method="post">
    {% csrf_token %}
    <div class="my-3">
      <p class="my-0">{{ form.email.label }}{% trans "(必須)" %}</p>
      {% for error in form.email.errors %}
        <p class="text-danger">{{ error|escape }}</p>
      {% endfor %}
      {{ form.email }}
    </div>

    <div class="my-3">
      <button class="btn btn-primary" type="submit">{% trans "パスワードをリセットする" %}</button>
    </div>
  </form>
{% endblock %}
