{% extends "layouts/base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{% trans "パスワード変更" %}</h1>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}

      {# 元のパスワード #}
      <div class="my-3">
        <p class="my-0">{{ form.old_password.label }}{% trans "(必須)" %}</p>
        {% for error in form.old_password.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
        {{ form.old_password }}
      </div>

      {# 新しいパスワード #}
      <div class="my-3">
        <p class="my-0">{{ form.new_password1.label }}{% trans "(必須)" %}</p>
        {% for error in form.new_password1.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
        {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
          <p class="help">{{ form.new_password1.help_text|safe }}</p>
        {% endif %}
      </div>

      {# 新しいパスワード確認 #}
      <div class="my-3">
        <p class="my-0">{{ form.new_password2.label }}{% trans "(必須)" %}</p>
        {% for error in form.new_password2.errors %}
          <p class="text-danger">{{ error|escape }}</p>
        {% endfor %}
        {{ form.new_password2 }}
      </div>

      <div class="my-3">
        <button class="btn btn-primary" type="submit">{% trans "保存" %}</button>
      </div>
    </form>
  </div>
{% endblock %}