{% extends "layouts/2column.html" %}
{% load i18n %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>
        {% blocktranslate with username=user.username %}
          {{ username }} のプロフィール
        {% endblocktranslate %}
        </h2>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col">{% trans "性別" %}</div>
          <div class="col">{{ user.sex|default:"---" }}</div>
        </div>
        <div class="row">
          <div class="col">{% trans "居住地" %}</div>
          <div class="col">{{ user.address| default:"---" }}</div>
        </div>
      </div>
    </div>
    <h3>{% trans "返信履歴" %}</h3>
    {% if replies %}
      {% include "forum/components/user_reply_list.html" %}
    {% endif %}
  </div>
{% endblock %}
